@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.fontSizeReset {
  font-size: 0;
}

.q7__box-common {
  width: 225px;
  box-sizing: border-box;
  font-size: 16px;
  vertical-align: middle;
}

.is-float-box {
  float: left;
  margin-left: 50px;
}

.is-float-box:first-child {
  margin-left: 0;
}

.q7__table-box {
  display: table;
}

.is-table-box {
  display: table-cell;
  border-left: 50px solid transparent;
  box-sizing: content-box;
}

.is-table-box:first-child {
  border-left: 0;
}

.is-inlineblock-box {
  display: inline-block;
  font-size: 16px;
  margin-left: 50px;
}

.is-inlineblock-box:first-child {
  margin-left: 0;
}

.q7__flex-box {
  display: flex;
}

.is-flex-box {
  margin: auto;
}

.is-flex-box:first-child {
  margin-bottom: 0;
}

.fontSizeReset {
  font-size: 0;
}

.is-margin-box-common {
  display: inline-block;
}

.is-margin-left-box {
  width: 300px;
  margin-right: 50px;
}

.is-margin-right-box {
  vertical-align: top;
  width: 100%;
  margin-left: -350px;
}

.is-margin-text-common {
  font-size: 16px;
}

.is-margin-right-text {
  margin-left: 350px;
}
/* 回答はここに書いてね */
