@charset "UTF-8";

/* 回答はここに書いてね */
.q4 {
  padding: 20px;
  background-color: #ECF1F2;
}

.q4_content {
  margin-top: 20px;
  display: table;
  width: 100%;
  text-align: center;
  background-color: #eff3f4;
}

.q4_content:first-child {
  margin-top: 0;
}

.q4_content_element {
  display: table-cell;
  padding: 20px 0 20px 0;
}

.is-pink {
  width: 100px;
  background-color: #fdc8b8;
}

.is-purple {
  background-color: #e0abd9;
}

.is-blue {
  width: 100px;
  background-color: #b6d8ed;
}

.is-yellow {
  background-color: #e5d32e;
}

.is-red {
  background-color: #ec8f9a;
}

.is-green {
  width: 500px;
  background-color: #8fdcad;
}

/* 回答はここに書いてね */
