@charset "UTF-8";

/* 回答はここに書いてね */
.table{
  text-align: center;
  /* border-collapse: collapse; */
  border: solid #dedede 1px;
  width: 100%;
  table-layout: fixed;
}

/* .table tr:nth-child(n){
  padding: 10px 0;
  font-size: 16px;
  line-height: 22px;
} */

.table tr:nth-child(odd){
  background-color: #ecf1f2;
}

.table tr:first-child{
  border: solid white 1px;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
  color: white;
}

.table tr:last-child{
  border-top: dashed #000 2px;
}

.table tr td:first-child{
  border: solid white 1px;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color: white;
}
/* 回答はここに書いてね */
